@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Grade Calculator";
}
@model CalcModel;

<h2>Grade Calculator</h2>
<form mathod="post">
    <label>Assignments: </label>
    <input id="Assignments" asp-for="Assignments" /><br />
    <label>Quizzes: </label>
    <input id="Quizzes" asp-for="Quizzes" /><br />
    <label>Group Projects: </label>
    <input id="GP" asp-for="GP" /><br />
    <label>Group Intex: </label>
    <input id="Intex" asp-for="Intex" /><br />
    <label>Exams: </label>
    <input id="Exams" asp-for="Exams" /><br />
    <input id="buttonSend" type="submit" value="Send message" />
    <div asp-validation-summary="All" ></div>
</form>

