@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "My first Web Page";
}

    <h1>Blake Pereira</h1>

    <img src="img/photo.jpg" width="500px" />

    <p>I am really looking forward to learning ASP.NET. On a lot of job postings they are asking for people that know C# and ASP.NET.</p>

    <ul>
        <il>Software Engineer</il>
        <il>Web Developer</il>
        <il>Business Owner</il>
    </ul>


